@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif !important;
  margin-bottom: 0;
}

.heading {
  font-size: clamp(2rem, 3vw, 5rem);
}

.padding-container {
  padding-left: 80px;
  padding-right: 80px;
}

/* Header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20;
}

.navbar-brand {
  font-size: clamp(2rem, 2vw, 2.5rem) !important;
  font-weight: bold;
}

.navbar-brand {
  color: #fff !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler.collapsed {
  border: none;
  outline: none;
}

.offcanvas {
  color: #000;
  background-color: #fff;
  opacity: 0.8;
}

.offcanvas-body {
  text-align: center;
}

/* Banner */
.banner-bg {
  position: relative;
  width: 100%;
  height: 874px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #4284ff, #b48dff);
}

.banner-bg::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 989px;
  height: 729px;
  background-image: url("./assets/home/banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-content h1 {
  font-size: clamp(3rem, 4vw, 6rem);
}

.banner-content hr.banner-hr {
  width: 35%;
  border-top: 2px solid #fff;
  margin: 30px 0;
}

.banner-content p {
  text-align: justify;
  margin-right: 64%;
}

.bannerBtn {
  width: 18%;
  color: #ecf3ff;
  background: transparent;
  border: 2px solid #fff;
  padding: 10px 25px;
  margin-top: 15px;
}

.bannerBtn:hover {
  color: #bbd4ff;
}

/* Achievements */
.achievements {
  background: #e5e5e5;
}

.achievements .row {
  margin: 0 auto;
  padding: 50px 80px !important;
}

.achievements-box-content h1 {
  font-size: clamp(4rem, 2vw, 4.5rem);
  font-weight: bold;
}

.achievements-box-content h4 {
  font-weight: 400;
  margin-top: 30px;
}

.achievement-hr {
  width: 80%;
  height: 10px;
  background: #fff;
  margin: 20px auto;
}

/* About */
.about-sec {
  padding: 120px 0;
}

.about-sec .underline {
  width: 12%;
  height: 5px;
}

.about-sec p {
  padding: 0 19%;
}

/* Mission */
.mission-sec {
  background: linear-gradient(45deg, #f292b2, #b48dff);
  padding: 100px 0;
}

.missionBg-container {
  background: linear-gradient(45deg, #10c8b8, #b48dff);
}

.mission-img {
  width: 50%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.mission-icon {
  height: 300px;
}

/* Team */
.team-sec {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-sec p {
  color: #808080;
  padding: 0 16%;
}

/* Middle Banner */
.middle-banner-sec {
  background: linear-gradient(45deg, #62f6e9, #b48dff);
  padding-top: 80px;
  padding-bottom: 80px;
}

.middle-banner-sec img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
}

/* Business */
.business-sec {
  background: linear-gradient(-45deg, #ec6693, #b48dff);
}

.business-content {
  padding-top: 100px;
  padding-bottom: 10px;
}

.business-content p {
  padding: 0 16%;
}

/* Contact */
.contact-sec {
  width: 800px;
  padding: 60px 100px;
}

/* Form */
form,
input,
textarea {
  width: 100%;
}

input,
textarea {
  padding: 10px 15px;
  border: 2px solid #fff;
  outline: 1px solid #fff;
}

input:hover,
textarea:hover {
  color: #fff;
  background: transparent;
  border: 2px solid transparent;
  outline: 1px solid transparent;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #d8d8d8;
}

input:focus,
textarea:focus {
  border: 2px solid #000;
  outline: 1px solid #fff;
  border-radius: 4px;
}

/* Footer */
.footer-sec {
  padding-top: 100px;
  padding-bottom: 0px;
}

@media (max-width: 500px) {
  .padding-container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .banner-bg {
    justify-content: start;
    padding-top: 100px;
  }

  .banner-bg::before {
    width: 427px;
    height: 433px;
  }

  .banner-content hr.banner-hr {
    width: 95%;
    margin: 30px auto;
  }

  .banner-content p {
    text-align: left;
    margin-right: 16%;
  }

  .bannerBtn {
    width: 60%;
    padding: 10px 25px;
    margin-top: 15px;
  }

  .achievements .row {
    padding: 50px 10px !important;
  }

  .achievement-hr {
    width: 50%;
    margin: 20px auto;
  }

  .about-sec .underline {
    width: 50%;
  }

  .about-sec p {
    padding: 0 5%;
  }

  .mission-sec {
    padding: 50px 0;
  }

  .mission-img {
    width: 100%;
  }

  .team-sec {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .team-sec p {
    padding: 0 5%;
  }

  .middle-banner-sec {
    padding: 40px 25px;
  }

  .middle-banner-sec img {
    height: 350px;
  }

  .contact-sec {
    width: 95%;
    padding: 30px 25px;
  }

  .business-content {
    padding-bottom: 60px;
  }

  .business-content p {
    padding: 0;
  }
}
